/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    @media only screen and (max-width : 768px) {
        width: 100%;
    }

    .carousel-indicators {
        margin-bottom: 0;
        bottom: 5px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 0;
        }

        li {
            width: 15px;
            height: 15px;
            background-color: $white;
            margin: 0;

            @media only screen and (max-width : 768px) {
                width: 10px;
                height: 10px;
            }

            &.active {
                width: 15px;
                height: 15px;
                background-color: $primaryColor2;

                @media only screen and (max-width : 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    .carousel-inner {
        .item {
            img {
                width: 100%;

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.wrapper-container-item {
    &:nth-child(2n) {
        background-color: #ebebeb;
    }
}

.scrtabs-tab-container {
    margin-bottom: 25px;
    position: relative;
    padding: 0 10px;

    @media only screen and (max-width: 767.98px) {
        margin: 0 auto 25px;
    }

    .scrtabs-tab-scroll-arrow {
        cursor: pointer;
        height: 18px;
        overflow: hidden;
        position: absolute;
        width: 15px;
        top: 11px;
        border: none;
        background: none;

        &.scrtabs-tab-scroll-arrow-left {
            left: -5px;

            &:before {
                background-color: $primaryColor2;
                content: "";
                height: 17px;
                left: 5px;
                position: absolute;
                top: 0;
                transform: rotate(45deg);
                width: 17px;
            }

            &:after {
                background-color: white;
                content: "";
                height: 17px;
                left: 8px;
                position: absolute;
                top: 0;
                transform: rotate(45deg);
                width: 17px;
            }
        }

        &.scrtabs-tab-scroll-arrow-right {
            right: -5px;

            &:before {
                background-color: $primaryColor2;
                content: "";
                height: 17px;
                left: 5px;
                position: absolute;
                top: 0;
                transform: rotate(45deg);
                width: 17px;
                left: auto;
                right: 5px;
            }

            &:after {
                background-color: white;
                content: "";
                height: 17px;
                left: 8px;
                position: absolute;
                top: 0;
                transform: rotate(45deg);
                width: 17px;
                left: auto;
                right: 8px;
            }
        }
    }
}

.nav-tabs-sub-cat {
    text-align: center;
    border-bottom: none;

    @media only screen and (max-width: 767.98px) {
        display: flex;
    }

    li {
        float: none;
        display: inline-block;

        @media only screen and (max-width: 767.98px) {
            display: inline-flex;
            margin-right: 5px;
        }

        a {
            border: 1px solid $primaryColor2;
            border-bottom-color: $primaryColor2;
            line-height: 20px;
            border-radius: 5px;
            color: $primaryColor2;
            font-family: $firaSansCondensedBold;
            font-size: 17px;

            &:hover {
                background-color: $primaryColor2;
                color: $white;
            }
        }

        &.active {
            a,
            a:hover,
            a:focus {
                border: 1px solid $primaryColor2;
                border-bottom-color: $primaryColor2;
                background-color: $primaryColor2;
                color: $white;
            }
        }
    }
}

.view-all-category {
    margin: 15px 0 30px;

    @media only screen and (max-width: 767.98px) {
        margin: 15px 0 40px;
    }

    a {
        padding: 12px 25px;
        background: $primaryColor2;
        border-radius: 5px;
        color: $white;
        font-family: $firaSansCondensedRegular;
        font-size: 17px;
    }
}