{% if relatedNews|length > 0 %}
    <div class="related-news title-list-news-items">
        <p class="text-uppercase text-center p-title-news-items">
            <a href="#" title="Tin khác">Tin khác</a>
        </p>
        <span class="block-underline"></span>
        <div class="list-news-items">
            <div class="row">
                {% for row in relatedNews %}
                    {{ include('news/components/itemsGrid.html.twig') }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endif %}